html, body {
  font-family: "Lato", "Noto Sans TC", sans - serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #f6f7f8;
}

header {
  height: 60px;
  color: #666;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
}

nav {
  max-width: 820px;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  color: #666666;
}